.commits-explorer-container {
    height: 100%;
    background-color: #fafbff;
}

.commit {
    background-color: #f7f7f7;;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #eaeaea;
}

.commit--selected {
    background-color: #cfd8dc;
    flex-direction: column;
    align-items: flex-start;
}

.commit_message {
    flex-grow: 1;
    line-height: 24px;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-right: 16px;
}

.commit_message-full {
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
}

.commit_date {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.commit_author-full {
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
}

.commit_date-full {
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.commits-explorer-container_commit{
    height: 100%;
    overflow-y: auto;
}

.commits-explorer-container_header-container{
    
}

.image-author-avatar-container_image{
    box-shadow: 0px 0px 5px 0px #afafaf;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.commit_image-author-avatar-container{
    padding: 4px;
    margin-right: 16px;
}