.login-container_image {
    display: block;
    margin: 16px auto;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    background: #ececec;
    margin-bottom: 24px;
}

.login {
    padding-top: 24px;
}

.login-container {
    padding: 36px 24px;
    max-width: 480px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.login-container_input-container {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.input-container_input {
    margin-left: auto;
    padding: .375rem .75rem;
    margin-right: 0px;
    font-size: 1em;
    line-height: 1.4em;
    border-radius: 4px 0 0 4px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.input-container_input:focus {
    border: 1px solid #009688;
    outline: none;
}

.input-container_apply-button {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-right: auto;
    padding: .375rem .75rem;
    font-size: 1.2em;
    line-height: 1.4em;
    background-color: #009688;
    border-radius: 0 4px 4px 0;
}

.login-container_greeting {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    color: #5f5f5f;
}