github-notifier-explorer {
    height: 100%;
}

.github-notifier-explorer-container {
    height: 100%;
    display: flex;
}

.github-notifier-explorer-container_repositories-container{
    flex-grow: 1;
    overflow-y: auto;
    background: white;
}

.github-notifier-explorer-container_commits-container {
    flex-grow: 3;
    width: 60%;
    overflow-y: auto;
    background: whitesmoke;
}