
.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_body {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.body_repositories-container {
    background: #f5f5f5;
    width: 20%
}

.body_commits-container {
    background: #f9f9f7;
    width: 80%;
}

.repositories-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px 2px;
}

.repositories-container_repository {
    padding: 16px 8px;
    margin-bottom: 1px;
    background-color: #eeeef8;
}

.repositories-container_repository--new-commit{
    background-color: red;
}

.repository_name{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.repository_description{
    margin-bottom: 8px;
}

.repository_owner{
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: right;
}