<div class="repositories-explorer-container">
    <div class="repositories-explorer-container_repository">
        <div class="repository" *ngFor="let repository of repositories" (click)="selectRepository(repository.fullname)" [ngClass]="{'repository--selected': repository.fullname === selectedRepositoryFullName}">
            <div class="repository_name">
                {{repository.name}}
            </div>
            <div *ngIf="!isRepositoryHasLastCommit(repository)" class="repository_notify-icon material-icons">
                lightbulb_outline
            </div>
            <div class="repository_owner">
                <b>owner: </b>{{repository.owner.name}}
            </div>
        </div>

    </div>
</div>