.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.app_title-container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #009688;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.app_body{
    margin-top: 55px;
}

.title-container_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 4px;
}

.title-container_menu {
    display: flex;
}

.menu_item {
    cursor: pointer;
    font-size: 25px;
    line-height: 50px;
    margin: 0px 4px;
    color: white;
}