.search-container {
    margin: 48px 0;
}

.search-container_input-container {
    max-width: 640px;
    margin: 48px auto;
    display: flex;
}

.search-container_input {
    width: 100%;
    padding: .375rem .75rem;
    margin-right: 0px;
    font-size: 1.2em;
    line-height: 1.6em;
    border-radius: 4px 0 0 4px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.search-container_input:focus {
    border: 1px solid #00897B;
    outline: none;
}

.search-container_search-button {
    color: white;
    cursor: pointer;
    margin-left: 0px;
    padding: .375rem .75rem;
    font-size: 1.4em;
    line-height: 1.6em;
    background-color: #009688;
    border-radius: 0 4px 4px 0;
}

.search-container_search-button:hover {
    background-color: #02796b;
}

.searched-repositories-container {
    margin: 0 auto;
    max-width: 640px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
}

.searched-repositories-container_repository-container {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 700px;
    border-radius: 4px;
    padding: 18px 16px;
    margin: 0 8px;
}

.info-container_name {
    text-overflow: ellipsis;
    color: #455A64;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.repository-container_full-info-container{
    margin-bottom: 16px; 
}

.full-info-container_description {
    color: #546E7A;
    max-width: 70%;
    font-size: 18px;
    text-overflow: ellipsis;
    margin-bottom: 12px;
}

.full-info-container_owner {
    color: #546E7A;
    margin-bottom: 4px;
}

.info-container_owner {
    color: #546E7A;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.repository-container_info-container {}

.repository-container_button-container {
    display: flex;
    justify-content: flex-end;
}

.repository-container_button-container :last-child {
    margin-right: 0px;
}

.button-container_button {
    border-radius: 2px;
    border: 1px solid #00897B;
    cursor: pointer;
    font-weight: bold;
    color: #00897B;
    width: fit-content;
    margin: 4px 8px;
    padding: 8px 16px;
    transition: color 0.3s ease-in-out;
}

.button-container_button--red {
    border-color: red;
    color: red;
}

.button-container_button:hover {
    transition-duration: 0.3s;
    color: #004D40;
}

.searched-repositories-container_separator {
    height: 1px;
    background-color: #dedede;
    margin: 0 auto;
}